body{

}
h1 p{
    background-color:blue;
}
h1{
background-color: red;
}
div ul li a{
    background-color: black;
    color: white;

}
div ul li a:hover{
background-color: blue;
}
nav ul li a {
    background-color: yellow;
    color: black;
}